/* ==UserStyle==
@name           dnevnik.ru RE-UX (dvrx) by ktamkyaz
@namespace      github.com/openstyles/stylus
@version        1.9
@description    a really comfy dnevnik-ru style
@author         ktamkyaz
==/UserStyle== */
@-moz-document url-prefix("https://dnevnik.ru/") {
	@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
	* {
		overflow-y: none !important;
		--bg-scroll-fg: #fff;
		--bg-scroll-bg: transparent;
		--bg-url: url("https://assets.ktkz.ru/dxru/background.jpg");
		/* info: https://assets.ktkz.ru/dxru/background-info.htm */
		--bg-fallback: #222;
		--card-scroll-fg: #323232;
		--card-scroll-bg: transparent;
		--card-hover-bg: #fffc;
		--card-hover-fg: #000;

		--page-header-bg: #3336;
		--page-header-hover-bg: #111c;

		--main-c-bg: linear-gradient(90deg, rgba(25, 25, 25, .73) 0%, rgba(25, 25, 25, .89) 50%, rgba(33, 33, 35, .8) 100%);
		--main-c-fg: #eee;

		--logo-clr: linear-gradient(90deg, #fff 0%, #eee 100%);

		font-family: "Google Sans", system-ui, sans-serif;
		font-weight: 400;
		text-wrap: revert !important;
		text-transform: lowercase;
		font-style: normal;
		transition: all 0.5s cubic-bezier(0.2, 0.84, 0, 0.97);
	}

	.tvlOr,
	.tvlOr * {
		transition: none;
	}

	*:not(.header-menu *,
	.h26OT,
	.VDEyi,
	.c8gBb,
	.Hus5c,
	.FTvtj,
	.MF8i6,
	.eWSLv *,
	.ws3co,
	.ukfNh *,
	.oPwnN *,
	.QoB5a,
	.dKqrI *,
	.F9Uxx,
	.w_cWv,
	.Ugt7I,
	.l6_hh.aeQxD *,
	.tvlOr,
	.KiAcT,
	.NKKYj *,
	.MoNUN,
	.ieouB,
	.la_kX) {
		background: none;
		color: var(--main-c-fg);
		outline-color: #6c6c6c;
		stroke: #F8F8F2;
		border-color: #6c6c6c;
	}

	.GY6ZE {
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	html {
		scrollbar-color: var(--bg-scroll-fg) var(--bg-scroll-bg);
	}

	.la_kX > * {
		background: #444;
	}

	body {
		background: var(--bg-fallback) var(--bg-url) !important;
		background-position: center !important;
		background-size: cover !important;
		background-repeat: no-repeat!important;
		background-attachment: fixed !important;
		overflow-x: hidden !important;
		max-width: 98%;
	}

	.VC9lf {
		flex-direction: column;
	}

	.GY6ZE,
	.QdrVr,
	.leaD4,
	.l6_hh.aeQxD {
		width: 90vw;
		max-width: 1200px;
	}

	.page-header {
		background: var(--page-header-bg) !important;
		backdrop-filter: blur(10px);
		border-radius: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 90vw;
	}

	.page-header:hover {
		background: var(--page-header-hover-bg) !important;
	}

	.header-menu {
		position: absolute;
	}

	.page-header:not(:hover) {
		height: 80px;
		width: 500px;
	}

	.page-header:not(:hover) .user-counters {
		opacity: 0;
	}

	.header-logotype {
		background-image: none !important;
		position: absolute;
	}

	.page-header__panel-container:first-child:has(.header-logotype):before {
		content: 'dvrx';
		text-transform: none;
		color: transparent;
		text-decoration: none !important;
		font-weight: 900 !important;
		font-size: 40px;
		width: 200px;
		display: inline-flex;
		align-items: center;
		background: var(--logo-clr);
		background-clip: text;
		/* 		font-family: "Montserrat Alternates", sans-serif; */
		font-style: normal;
		justify-content: center;
	}

	/* 	.page-header__panel-container:first-child:has(.header-logotype):after {
		content: 'project';
		transform: translateX(150px) translateY(10px);
		font-family: "Montserrat Alternates", sans-serif;
		position: absolute;
		top: 0;
		left: 0;
	} */
	.page-header:hover {
		margin-bottom: 30vh;
		padding-top: 3vh;
	}

	.page-header:not(:hover) .header-menu {
		opacity: 0;
		pointer-events: none;
		height: 0;
	}

	.ZF51r img:not(.tBsiQ) {
		filter: invert();
	}

	.user-profile-box__info_row.user-profile-box__avatar img {
		border-radius: 50% !important;
		overflow: hidden;
	}

	.page-header * {
		transition: none;
	}

	.header-submenu {
		transition: opacity 0.3s;
		display: block !important;
		opacity: 0;
		pointer-events: none;
		border-radius: 20px;
		border-top-left-radius: 0;
	}

	.header-menu__link {
		transition: color 0.3s, background 0.3s, border-radius 0.3s;
		background: #222 !important
	}

	.header-menu__item_active .header-menu__link {
		color: #fff !important;
		background: #222 !important;
	}

	.header-menu__link:hover,
	.header-menu__item_current .header-menu__link {
		color: #000 !important;
		background: #fff !important;
	}

	.header-menu__item:first-child > .header-menu__link {
		border-top-left-radius: 20px !important;
	}

	.header-menu__item:nth-last-child(-n + 2) .header-menu__link {
		border-top-right-radius: 20px !important;
	}

	.clear:has(.header-menu) :not(.header-menu:has(.header-submenu_active)) .header-menu__item:first-child > .header-menu__link {
		border-bottom-left-radius: 20px;
	}

	.clear:has(.header-menu) :not(.header-menu:has(.header-submenu_active)) .header-menu__item:nth-last-child(-n + 2) .header-menu__link {
		border-bottom-right-radius: 20px;
	}


	.header-submenu.header-submenu_active {
		top: 45px !important;
		opacity: 1;
	}

	.NfpGu {
		margin-top: 20px;
		border-top-right-radius: 20px;
		border-top-left-radius: 20px;
		order: -1;
	}

	.vYN7_ {
		border-left: none;
		border-right: none;
		width: 100%;
		display: inline-flex;
	}


	.BPm32 {
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border-bottom: 1px solid #d8d8d8;
		border-left: 1px solid #d8d8d8;
		border-right: 1px solid #d8d8d8;

		display: flex;
		justify-content: space-between;
	}

	.YFgHr {
		display: flex;
		justify-content: space-around;
	}

	/* 
	.mfHwq {
		min-height: 650px;
	} */
	.jyOdp,
	.ltz6T {
		display: block;
		flex: none;
		width: auto;
	}

	.T6N3R,
	.kjMue *,
	.GY6ZE > *,
	.Tamh1,
	.bGNJn.L10cW,
	.jAZTJ,
	.LizK_,
	.HhPlq,
	.F9Uxx,
	.wTqkl,
	.ADpUe.ZNAUN,
	.UNaap.rejG5,
	.ZkfJb.itBBH,
	.l6_hh.aeQxD,
	.GfSJ6,
	.iuLiH.UT8bj,
	.l6_hh.Am7vD,
	.ukfNh,
	.qBQwZ,
	.wj5xj {
		background: var(--main-c-bg) !important;
	}


	.GY6ZE div:has(.zuXmp) {
		scrollbar-color: var(--card-scroll-fg) var(--card-scroll-bg);

		overflow: overlay;
		position: fixed;
		width: 500px;
		height: 500px;
		display: block;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 9999;
		border-radius: 15px;
		padding: 10px;
		background: #00000024;
		border: 0 !important;

		backdrop-filter: blur(15px);
	}

	.zuXmp {
		display: block;
		width: 95%;
		border: none !important;
		max-width: none;
		padding: 10px;
		min-height: 95%;
		height: fit-content;
		outline: none;
		margin: 0;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
	}

	.tyRId.ujf4P:hover {
		background: var(--card-hover-bg);
		transition: 0.15s;
		color: var(--card-hover-fg);
	}

	svg:not(.YFgHr *,
	.RP8vz *,
	.nuwp2 *) * {
		stroke: none !important;
	}

	body .tyRId.ujf4P:hover *:not(.n0QJN *) {
		color: var(--card-hover-fg) !important;
	}

	.d6iUb {
		display: none;
	}

	.VC9lf {
		margin: 0;
		width: 100%;
		display: inline-flex;
		align-items: center;
	}

	a,
	.DvC8c,
	.NtoA5,
	.l6_hh.aeQxD,
	.l6_hh.aeQxD *,
	.V0I1a,
	.l6_hh.Am7vD *,
	.ukfNh * {
		color: #eef !important;
	}

	.uNSfG *:not(.V0I1a) {
		display: none;
	}

	.header-menu__link {
		background: #aaa;
	}

	.header-menu__item_active * {
		background: #fff !important;
	}

	.header-submenu *,
	.header-menu__item_active * {
		color: #000 !important;
	}

	.UNaap.rejG5 {
		border-radius: 20px
	}

	.user-profile-box__info {
		display: flex;
		flex-direction: row;
		width: 140px;
		padding: 0;
		padding-bottom: 5px;
	}

	/*
  body:has(.zuXmp){
    opacity: 0.2;
    transform: scale(90%);
  }*/
	.wZsQ0,
	.CYDkS {
		display: none;
	}

	.tyRId.ujf4P {
		flex-direction: row;
		gap: 25px;
	}

	.fEJxg {
		flex-direction: column;
		flex-wrap: wrap;
		max-width: 80px;
	}

	/*marks*/
	.ceyZF,
	.L4zz0,
	.EeDN9,
	.ieouB,
	.nxTcy {
		/*4/5/зч*/
		background: linear-gradient(-30deg, #000 0%, #393939 100%);
		color: #fff;
	}

	.VDEyi {
		opacity: 0.2;
	}

	.Tnfcj,
	.YiVWk,
	.wkfA9,
	.MoNUN,
	.iZcVk {
		/*3*/
		background: linear-gradient(-45deg, #452674 0%, #000 70%);
		color: #fff;
	}

	.qaGN7,
	.CPrVf,
	.B7KNj,
	.pcufu {
		/*2*/
		/*note: for 2 in period css class unknown*/
		background: linear-gradient(105deg, #592929 0%, #000 100%);
		color: #fff;
	}

	.Ee_Ns {
		/*п / о*/
		background: #eee;
		color: #000;
	}



	/*marks end*/
	.ZkfJb.itBBH,
	.Fy9Qq {
		/*WHY????*/
		display: none;
	}

	.h26OT {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.gq89N {
		font-weight: 600;
	}

	.BPm32 {
		border-radius: 0;
	}

	.fEJxg svg,
	.ZF51r img.aatUS {
		filter: grayscale();
	}

	.n0QJN {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		overflow: hidden;
		flex: none !important;
		align-items: center;
		justify-content: center;
		margin-left: 5px !important;
	}

	.tyRId.ujf4P:hover * {
		color: #fff !important;
	}


	.GY6ZE > * {
		backdrop-filter: blur(5px);
	}

	.bGNJn.L10cW * {
		height: fit-content;
	}

	.VMbV6 img {
		max-width: 500px;
		aspect-ratio: auto !important;
		height: 200px;
		object-fit: contain;
	}

	body .l6_hh.aeQxD *,
	.nWUwg * {
		border-color: #6c6c6c !important;
	}

	.nWUwg {
		box-shadow: none !important;
	}
}
